# Proxmox
proxmox_api_token = "..."
proxmox_username = "..."

# vSphere
vsphere_user = "..."
vsphere_password = "..."
vsphere_server = "..."

# Nutanix
nutanix_user = "..."
nutanix_password = "..."
nutanix_endpoint = "..."
nutanix_port = "..."

# OpenStack
openstack_user_name = "..."
openstack_tenant_name = "..."
openstack_password = "..."
openstack_auth_url = "..."
openstack_region = "..."

# VM
vm_ssh_key = "..."
vm_password = "..."
vm_username = "..."
